*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content{
    width: 70%;
    margin: auto;
}

.question-content{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.btn-vote{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media screen and (max-width: 768px){
    .btn-vote{
        display: flex;
        flex-direction: column;
       
    }
}

@media screen and (max-width: 360px){
    *{
        font-size: 10px;
    }

    .question-content{
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.btn{
    margin: auto;
    text-align: center;
    
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    border: none;
    box-shadow: none;
    margin-top: 30px;
}
#dislike{
    background-color: #d9534f;
    color: white;
}

#like{
    background-color: #337ab7;
    color: white;
}

.btn-next{
    
    
   text-align: center;
}

#vote-result, #other-question{
    border: 1px solid black;
    background-color: #fff;
    color: black;
}

